---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Ricky Moreno Banuelos"
	pubDate={new Date('September 14 2023')}
	heroImage="/ric-1.jpg"
>
	<h2> Hello!</h2>
	<p>
		I am Ricky Moreno Banuelos, a computer and cellphone technician, a Church's Sunday School Teacher and Musician, a Web Developer, and an Electronic Technician. Residing currently at P-8, Poblacion, Sibagat, Agusan Del Sur, PH.
	</p>

	<p>
	
	</p>

	<p>
	
	</p>

	<p>
	
	</p>
</Layout>
